<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movmapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.movmapp.AppStartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.movmapp.ResultActivity"
            android:label="result" >
        </activity>
        <activity
            android:name="com.example.movmapp.AllResultActivity"
            android:label="allresult" >
        </activity>
        <activity
            android:name="com.example.movmapp.ShowMovieItemActivity"
            android:label="showmovieinfo" >
        </activity>
        <activity
            android:name="com.example.movmapp.CommentActivity"
            android:label="comment" >
        </activity>
        <activity
            android:name="com.example.movmapp.ShowCommentListActivity"
            android:label="showcommentlist" >
        </activity>
        <activity android:name="com.example.movmapp.LoginActivity" >
        </activity>
        <activity android:name="com.example.movmapp.SearchActivity" >
        </activity>
        <activity android:name="com.example.movmapp.SignupActivity" >
        </activity>
    </application>

</manifest>